@tailwind base;
@tailwind components;
@tailwind utilities;


:root,
:root.light {
  --primary: #3E3E3E;
  --secundary: rgb(255,255,255);
  --background-color: #f8fafc;
}

:root.dark {
  --primary: #ededed;
  --secundary: #3E3E3E;
  --background-color: #1F1F1F;
}

:root {
  --header-height: 61px;
  background: var(--background-color);
}

body {
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
