@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3E3E3E;
  --secundary: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ededed;
    --secundary: #3E3E3E;
  }
}

body {
  color: var(--primary);
  background: var(--secundary);
  font-family: Arial, Helvetica, sans-serif;
}
